name: CI

env:
  pnpm_store_path: ${{github.workspace}}/.pnpm-store
  NX_BRANCH: ${{ github.event.number }}
  NX_RUN_GROUP: ${{ github.run_id }}

on:
  pull_request:
    branches:
      - main

jobs:
  pnpmstore:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        node: [ 14 ]
        os: [ ubuntu-latest ]

    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - name: checkout code repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: cache pnpm modules
        uses: actions/cache@v2.1.5
        env:
          cache-name: cache-pnpm-modules
        with:
          path: ${{ env.pnpm_store_path }}
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.0.2
          run_install: |
            args: [--frozen-lockfile]
      - name: check pnpm store
        if: steps.pnpm-store.outputs.cache-hit != 'true'
        run: pnpm store status

  lint:
    needs: pnpmstore

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: [ 14 ]
        os: [ ubuntu-latest ]
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - name: checkout code repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: cache pnpm modules
        uses: actions/cache@v2.1.5
        env:
          cache-name: cache-pnpm-modules
        with:
          path: ${{ env.pnpm_store_path }}
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.0.2
          run_install: |
            args: [--frozen-lockfile]
      - name: build
        run: pnpm run ci:build
      - name: lint
        run: pnpm lint

  test:
    needs: pnpmstore

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node: [ 14 ]
        os: [ ubuntu-latest ]
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - name: checkout code repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: cache pnpm modules
        uses: actions/cache@v2.1.5
        env:
          cache-name: cache-pnpm-modules
        with:
          path: ${{ env.pnpm_store_path }}
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.0.2
          run_install: |
            args: [--frozen-lockfile]
      - name: Install and run test
        run: |
          pnpm install
          pnpm test

  build:
    needs: pnpmstore
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: [ 14 ]
        os: [ ubuntu-latest ]
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - name: checkout code repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: cache pnpm modules
        uses: actions/cache@v2.1.5
        env:
          cache-name: cache-pnpm-modules
        with:
          path: ${{ env.pnpm_store_path }}
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.0.2
          run_install: |
            args: [--frozen-lockfile]
      - name: build
        run: pnpm run build
