name: Release
on:
  push:
    branches:
      - main
env:
  pnpm_store_path: ${{github.workspace}}/.pnpm-store

jobs:
  release:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: checkout code repository
        uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0
          ref: main
      # The following step creates a .npmrc file on the runner with following contents:
      # //npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
      # registry=https://npm.pkg.github.com/
      # always-auth=true
      - name: Use Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: 14
          registry-url: "https://npm.pkg.github.com"
      - name: Cache pnpm modules
        uses: actions/cache@v2.1.7
        env:
          cache-name: cache-pnpm-modules
        with:
          path: ${{ env.pnpm_store_path }}
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
      - uses: pnpm/action-setup@v2.1.0
        with:
          version: 6.31.0
          run_install: |
            args: [--frozen-lockfile]
      - run: pnpm ci:publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
